<small><?php echo $legalShort; ?></small>
</div>

 <footer>
  <?php

	echo $config->copyright;
	
	?>
  
 </footer>
</div>


<header>
<?php

echo '<a href="/" '.isActive('events').' id="button_events"><img src="'.$config->designURL.'/events1.png" alt="">'.translate('events',true).'</a>';
seperateIfNot('events');

if ($user){
	 echo '<a href="?mode=tags" '.isActive('tags').' id="button_tags"><img src="'.$config->designURL.'/tags1.png" alt="">'.translate('tags',true).'</a>';
	 seperateIfNot('tags');
	 
	 echo '<a href="?mode=people" '.isActive('people').' id="button_tags"><img src="'.$config->designURL.'/login1.png" alt="">'.translate('people',true).'</a>';
	 seperateIfNot('people');	 
	 
} 

if (!$config->local){
	
	// right side
	
	if (!$user) {
		echo '<a '.isActive('login').' onclick="show(\'login\');this.className=\'activebutton\';return false" href="?mode=login" id="button_login"><img src="'.$config->designURL.'/login1.png" alt="">'.translate('login',true).'</a>';
	} else {
		echo '<a '.isActive('login').' href="?logout=1" id="button_login" ><img src="'.$config->designURL.'/logout1.png" alt="">'.translate('logout',true).'</a>';
	}
	seperateIfNot('upload','rechts');
	echo '<a href="'.$config->updateURL.'" '.isActive('upload').' id="button_upload"><img src="'.$config->designURL.'/upload1.png" alt="">'.translate('upload',true).'</a>';
	seperateIfNot('upload','rechts');
	
	echo '<a href="?mode=legal" '.isActive('info').' id="button_info"><img src="'.$config->designURL.'/info1.png" alt="">'.translate('Info / Legal',true).'</a>';
	
	seperateIfNot('login','rechts');
	
}
	
function isActive($part){global $activePart;
	if ($part==$activePart) return 'class="activebutton"';
	return 'class="button"';
}

function seperateIfNot($part,$direction=''){global $activePart;
	if ($part==$activePart) return '';
	echo '<div class="trenner'.$direction.'"></div>';
}


?>
<h1 id="pagetitle"><?php echo $config->pageTitle;?></h1>
</header>
<div id="breadcrumb">
<?php

$output=array();
foreach ($breadcrumb as $element){
	$link=$element['link'];
	$text=$element['text'];
	if ($link) $text='<a href="'.$link.'">'.$text.'</a>';
	$output[]='<div class="element">'.$text.'</div>';
}
echo implode('<div class="seperator"></div>',$output);

if (isset($functionBar2) && $functionBar2) {
	echo '<div id="functionbar2">'.$functionBar2.'</div>';
}

?>
</div>

<?php
	if (isset($functionBar) && $functionBar) {
		
	
		echo '
		<div id="functionbar">
		'.$functionBar.'
		</div>
		';
	}
?>

<script>

	var links=document.getElementsByTagName('a');
	
	var target='<?php if (isset($target)) echo $target;?>';
	
	for (var i in links){
		var link=links[i];
		if (link.onclick) continue;
		link.onclick=function(e){
			if(e.which==2) return true;
			if(e.button==2) return true;
			
			if (target && this.href.search('image=')!==-1) {
				server_query(this.href,function(value){
				  msg="<?php echo translate('images are shown on presenter',true).' '.$target; ?>";
				  message(msg);
				});
				return false;
			} else {
				location.href=this.href;
				return false;
			}
		}
	}
	
	window.onbeforeunload = function(e) {
		message('<?php echo translate("loading data from server.",true)?>');
		document.getElementById('visu').style.opacity='0.3';
		window.setInterval(function(){
			message('<?php echo translate("loading data from server.",true)?>');
		},1000);
    	return undefined;
    };

</script>
<div id="overlay"></div>


<script>
	//Scroll to last position, when the html file is loaded completely, but do not wait for images
	//to load as well
	processHash();
</script>


</body>
</html>